.App {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 275px auto 275px;
}

.left-rail {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 20px;
  z-index: 1;
}

.main-window {
  grid-column-start: 2;
  grid-column-end: 3;
}

.right-rail {
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 20px;
  z-index: 1;
}

h3 {
  font-size: 1.5rem;
  margin: 0 0 20px;
}