.StatsModal {
    align-items: stretch;
    overflow-y: auto;
    width: 100%;

    & input {
        height: 1.2rem;
        margin-bottom: 0;
    }

    & h3 {
        text-align: center;
        margin: 0 0 15px;
        font-size: 1.5rem;
    }
}