.SampleSelector {
    width: 500px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.2);
}

.Selected {
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: red;
}