canvas {
    transform: scale(0.5);
    transform-origin: top left;
}

.topCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.Renderer {
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}