canvas {
    transform: scale(0.5);
    transform-origin: top left;
}

.topCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.Renderer {
    padding-top: 50px;
    height: 100vh;

    & .container {
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        height: 100%;
    }
}